/* SMALLER DESKTOPS */
@media (max-width: 1304px) {
  h1 {
    font-size: 4.4rem;
  }
}
/* LANDSCAPES TABLETS */
@media (max-width: 1212px) {
  .main-header {
    padding: 1rem 2.5rem;
  }
}

@media (max-width: 1200px) {
  .section-heading {
    font-size: 3.6rem;
  }
}

@media (max-width: 1180px) {
  .menu {
    position: fixed;
    top: 0;
    left: 150rem;
    z-index: 99;

    width: 100%;
    height: 100%;
    background: var(--dark-grey);

    place-content: center;
    flex-direction: column;

    transition: 0.3s;
  }

  .nav.show .close-menu {
    display: block !important;
  }

  .nav.show .menu {
    left: 0;
  }
}

/* TABLETS */
@media (max-width: 944px) {
  html {
    font-size: 55%;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text {
    font-size: 1.6rem;
    text-align: center;
  }

  h1 {
    font-size: 3.6rem;
    text-align: center;
  }

  .hero-links-box {
    display: flex;
    justify-content: center;
  }

  .btn {
    font-size: 1.6rem;
  }

  .hero-img-box img {
    width: 60%;
    margin: auto;
  }

  .section-banner {
    padding-inline: 3.5rem;
  }
}
/* SMALLER TABLETS */
@media (max-width: 700px) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .section-banner {
    padding-inline: 3.5rem;
  }

  .section-banner .container {
    padding: 5rem;
  }

  .banner-wrapper {
    flex-wrap: wrap;
  }

  .banner-text h2 {
    margin-bottom: 5rem;
  }
  .banner--btn {
    margin-bottom: 5rem;
  }

  footer .container {
    flex-wrap: wrap;
  }

  .contact {
    margin-bottom: 5rem;
  }
}
/* PHONES */
@media (max-width: 540px) {
  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .hero-links-box {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .btn {
    width: 30rem;
    justify-content: center;
  }

  .hero .btn:first-child {
    margin-right: 0;
  }

  .event-img {
    object-fit: contain;
    width: 30.7rem;
    margin: auto;
  }

  .banner-text h2 {
    font-size: 3.6rem;
  }
}

/* SMALLER PHONES */
@media (max-width: 380px) {
  .logo {
    font-size: 2.4rem;
  }

  .service-box {
    grid-template-columns: 1fr;
  }

  .service-box i {
    margin-bottom: 0;
  }

  .footer-menu {
    flex-direction: column;
  }

  .banner--btn {
    width: 100%;
  }
}
