/* 
https://demo.ayroui.com/templates/business-template/#close

https://demo.ayroui.com/templates/startup-template/

https://nicepage.com/website-templates/preview/customer-success-consultants-2416429?device=desktop

https://www.sliderrevolution.com/resources/css-image-effects/

*/

:root {
  /* color */
  --main: #5b21b6;
  --alt: #a78bfa;

  /* ALTS */
  --accent: #115e59;
  --dark-accent: #022c22;
  --light-accent: #2dd4bf;

  --bg-alt: #fafafa;

  /* GREY */
  --main-grey: #0a0a0a;
  --dark-grey: #171717;
  --grey-700: #404040;
  --light-grey: #e5e5e5;

  /* FONT SIZE 
  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  */
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2rem;
  --text-2x1: 2.4rem;
  --text-3x1: 3rem;
  --text-3x2: 3.6rem;
  --text-4x1: 4.4rem;
  --text-5x1: 5.2rem;
  --text-6x1: 6.2rem;
}

.main-header {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

/* HERO SECTION */
.section-hero {
  background-color: var(--dark-grey);
}

.hero {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: auto;

  align-items: center;
  gap: 9rem;
}

h1 {
  font-size: var(--text-5x1);
  font-weight: 700;
  color: var(--light-grey);

  margin-bottom: 2rem;
}

.hero-text {
  font-size: var(--text-xl);
  color: var(--light-grey);
  margin-bottom: 5rem;
}

.btn {
  display: inline-flex;
  padding: 1.5rem 3.2rem;
  border-radius: 7rem;
  font-weight: 500;
  text-decoration: none;
  font-size: var(--text-lg);
}

.hero .btn:first-child {
  margin-right: 1.5rem;
  border: 2px solid var(--light-grey);
  color: var(--light-grey);
}

.btn--action {
  background-color: var(--main);
  color: var(--light-grey);
}

/* SECTION FEATURED */
.section-featured .subheading {
  text-align: center;
  filter: grayscale(1);
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-box {
  width: 10rem;
}

.logos img {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  opacity: 50%;
}

/* ---------- SECTION SERVICES ---------- */
.section-services .container,
.services-wrapper {
  gap: 5rem;
  align-items: start;
}

.service-box {
  box-shadow: 0px 0px 10px var(--light-grey);
  padding: 2rem;
  border-radius: 0.5rem;

  grid-template-columns: 1fr 5fr;
  align-items: flex-start;
}

.service-box i {
  font-size: var(--text-4x1);
  color: #fff;
  margin-bottom: 3rem;

  display: block;
  background: var(--alt);
  width: fit-content;
  border-radius: 50%;
  padding: 0.5rem;
}

.service-box-title {
  margin-bottom: 1.2rem;
  /* color: var(--alt); */
}

.service-text {
  color: var(--grey-700);
  font-size: var(--text-base);
}

/* SECTION EVENTS */
.section-events {
  background: var(--bg-alt);
}

.event-wrapper {
  gap: 2rem;
  margin-top: 5rem;
}

.event-box {
  position: relative;

  overflow: hidden;
}

.event-img {
  width: 100%;
  height: 32rem;
  object-fit: cover;

  filter: grayscale(1);
  transition: filter 0.8s;

  border-radius: 4rem;
}

.event-box:hover .event-img {
  filter: grayscale(0);
}

.event-text {
  display: grid;
  place-content: center;

  padding: 3rem;

  /* background: var(--main-grey); */

  text-align: center;

  opacity: 90%;
}

.event-text h4 {
  font-size: var(--text-2x1);
}

.event-text p {
  /* color: ; */
  font-size: var(--text-base);
}

.event--btn {
  display: flex;
  width: fit-content;
  background: var(--main);
  color: var(--light-grey);
  margin: auto;
}

/* SECTION TESTIMONIAL */
.testimonial-wrapper {
  gap: 2rem;
  margin-top: 5rem;
}

.testimonial {
  background: #f8f9ff;
  padding: 3rem;
  border-radius: 3rem;
}

.testimonial .stars {
  margin-bottom: 1rem;
}

.testimonial i {
  color: #ffd60a;
}

.testimonial-text {
  margin-bottom: 2rem;
  color: var(--grey-700);
}

.testimonial-name {
  font-size: var(--text-base);
}

/* SECTION BANNER */
.section-banner .container {
  background: var(--dark-grey);
  border-radius: 5.6rem;
  padding: 6.5rem 10.5rem;
}

.banner-wrapper {
  display: flex;
}

.banner-text h2 {
  color: var(--light-grey);
  font-size: var(--text-4x1);
  margin-bottom: 13rem;
}

.banner--btn {
  background: var(--main);
  color: var(--light-grey);
}

/* FOOTER */
footer {
  background: var(--bg-alt);
}

footer .container {
  padding-block: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contact-logo {
  font-size: var(--text-3x1);
  display: inline-flex;
  margin-bottom: 0.2rem;

  color: var(--main-grey);
  font-weight: 600;
}

.contact p {
  margin-bottom: 1rem;
}

.contact-social {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact-social a {
  font-size: var(--text-2x1);
  color: var(--grey-700);
}

.contact-btn {
  background: var(--main);
  color: var(--light-grey);
  padding: 1rem 2.5rem;
}

.footer-menu {
  display: flex;
  gap: 4rem;
}

.footer-menu a {
  display: inline-flex;
  margin-bottom: 1rem;
  color: var(--grey-700);
}

.author {
  padding: 2rem;
  text-align: center;
}

.author p {
  font-size: var(--text-sm);
}
